<div>
  <div>
    <h1>
      Pairing of all Gifts and their Stores to buy them at:
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Create a new store / gift pairing to allow for maximum flexability
    </h2>

    <form action="/insert_where_to_buy" method="post">

      <label for="gift_id_box">
          Gift
      </label>

      <select name="query_gift_id" id="gift_id_box">

        <% Gift.all.each do |a_gift| %>
        <option value="<%=a_gift.id%>"><%=a_gift.name_of_gift%></option>
        <%end%>

      </select>


      <label for="shop_id_box">
          Shop
        </label>

      <select name="query_shop_id" id="shop_id_box">

        <% Shop.all.each do |a_shop| %>
        <option value="<%=a_shop.id%>"><%=a_shop.name_of_shop%></option>
        <%end%>

      </select>


      <button>
        Create where to buy
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Gift
        </th>

        <th>
          Shop
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_where_to_buys.each do |a_where_to_buy| %>
      <tr>
        <td>
          <%= a_where_to_buy.id %>
        </td>

        <td>
          <%= a_where_to_buy.gift.name_of_gift %>
        </td>

        <td>
          <%= a_where_to_buy.shop.name_of_shop %>
        </td>

        <td>
          <%= time_ago_in_words(a_where_to_buy.updated_at) %> ago
        </td>

        <td>
          <a href="/where_to_buys/<%= a_where_to_buy.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
