<style>
  .spacing {
    padding-left: 20px;
  }
</style>

<div class="spacing">  
  
  
  <div>
    <div>
      <h1>
        Pairing of all Gifts and their Stores to buy them at:
      </h1>
    </div>
  </div>

  <hr>

  <div>
    <div>
      <h2>
        Create a new store / gift pairing to allow for maximum flexability (you can do as many pairs per gift as you like)
      </h2>

      <form action="/insert_where_to_buy" method="post">

        <label for="gift_id_box">
            Buy
        </label>

        <select name="query_gift_id" id="gift_id_box">

          <% @current_user.requested_gifts.each do |a_gift| %>
          <option value="<%=a_gift.id%>"><%=a_gift.name_of_gift%></option>
          <%end%>

        </select>


        <label for="shop_id_box">
            at
          </label>

        <select name="query_shop_id" id="shop_id_box">

          <% @current_user.shops.each do |a_shop| %>
          <option value="<%=a_shop.id%>"><%=a_shop.name_of_shop%></option>
          <%end%>

        </select>


        <button>
          Create where to buy pairing
        </button>
      </form>
    </div>
  </div>

  <hr>
  <div>
    <div>
      <table border="1" class="table">
        <tr>
          <th>
            ID
          </th>

          <th>
            Gift
          </th>

          <th>
            Shop
          </th>

          <th>
          </th>
        </tr>

        <% @list_of_where_to_buys.each do |a_where_to_buy| %>
        <tr>
          <td>
            <%= a_where_to_buy.id %>
          </td>

          <td>
            <%= a_where_to_buy.gift.name_of_gift %>
          </td>

          <td>
            <%= a_where_to_buy.shop.name_of_shop %>
          </td>


          <td>
            <a href="/where_to_buys/<%= a_where_to_buy.id %>">
              Pairing details
            </a>
          </td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>

  <hr>
</div>
