 <style>
  .spacing {
    padding-left: 20px;
  }
</style>

<div class="spacing"> 
  
  <div>
    <div>
      <h1>
        List of your shops
      </h1>
    </div>
  </div>

  <hr>

  <div>
    <div>
      <h2>
        Add a new shop
      </h2>

      <form action="/insert_shop" method="post">
        
        <div>
          <label for="name_of_shop_box">
            Name of shop
          </label>

          <input type="text" id="name_of_shop_box" name="query_name_of_shop">
        </div>

        <div>
          <label for="website_box">
            Website
          </label>

          <input type="text" id="website_box" name="query_website">
        </div>

        <button>
          Create shop
        </button>
      </form>
    </div>
  </div>

  <hr>
  <div>
    <div>
      <table border="1" class="table">
        <tr>
          <th>
            ID
          </th>

          <th>
            Website
          </th>

          <th>
            Name of shop
          </th>

          <th>
            Updated at
          </th>

          <th>
          </th>
        </tr>

        <% @list_of_shops.each do |a_shop| %>
        <tr>
          <td>
            <%= a_shop.id %>
          </td>

          <td>
            <%= a_shop.website %>
          </td>

          <td>
            <%= a_shop.name_of_shop %>
          </td>

          <td>
            <%= time_ago_in_words(a_shop.updated_at) %> ago
          </td>

          <td>
            <a href="/shops/<%= a_shop.id %>">
              Shop details
            </a>
          </td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>

  <hr>
</div>
