<div>
  <div>
    <h1>
      List of all categories
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new category
    </h2>

    <form action="/insert_category" method="post">
      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name">
      </div>

      <div>
        <label for="gifts_count_box">
          Gifts count
        </label>

        <input type="text" id="gifts_count_box" name="query_gifts_count">
      </div>

      <button>
        Create category
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Name
        </th>

        <th>
          Gifts count
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_categories.each do |a_category| %>
      <tr>
        <td>
          <%= a_category.id %>
        </td>

        <td>
          <%= a_category.name %>
        </td>

        <td>
          <%= a_category.gifts_count %>
        </td>

        <td>
          <%= time_ago_in_words(a_category.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_category.updated_at) %> ago
        </td>

        <td>
          <a href="/categories/<%= a_category.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
