<div>
  <div>
    <h1>
      Category #<%= @the_category.id %> details
    </h1>

    <div>
      <div>
        <a href="/categories">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_category/<%= @the_category.id %>">
          Delete category
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Name
      </dt>
      <dd>
        <%= @the_category.name %>
      </dd>

<dt>
        Category count
      </dt>
      <dd>
        <%= @the_category.gifts_count %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_category.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_category.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit category
    </h2>

    <form action="/modify_category/<%= @the_category.id %>"  method="post" >
      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name" value="<%= @the_category.name %>">
      </div>

      <button>
        Update category
      </button>
    </form>
  </div>
</div>

<hr>
