
<style>
  .spacing {
    padding-left: 20px;
  }
</style>

<div class="spacing">
  <h5>
    Edit User Account
  </h5>

  <% if @user.errors.any? %>
  <% @user.errors.full_messages.each do |message| %>
    <div class="alert">
      <%= message %>
    </div>
  <% end %>
  <% end %>
  <div>
    <form action="/modify_user" method="post">
              
      <div>
        <label for="email_box">Email</label>
          
        <input id="email_box" name="query_email" value="<%= @current_user.email %>">
          
      </div>
                                    
      <div>
        <label for="first_name_box">First name</label>
          
        <input id="first_name_box" name="query_first_name" value="<%= @current_user.first_name %>">
          
      </div>
                      
      <div>
        <label for="last_name_box">Last name</label>
          
        <input id="last_name_box" name="query_last_name" value="<%= @current_user.last_name %>">
          
      </div>
                      
      <div>
        <label for="shareable_tag_box">Shareable tag</label>
          
        <input id="shareable_tag_box" name="query_shareable_tag" value="<%= @current_user.shareable_tag %>">
          
      </div>
                      
      <div>
        <label for="bio_box">Bio</label>
          
        <input id="bio_box" name="query_bio" value="<%= @current_user.bio %>">
          
      </div>
                      
      <div>
        <label for="profile_image_box">Profile image</label>
          
        <input id="profile_image_box" name="query_profile_image" value="<%= @current_user.profile_image %>">
          
      </div>
                      
      <div>
        <label for="requested_gifts_count_box">Requested gifts count</label>
          
        <input id="requested_gifts_count_box" name="query_requested_gifts_count" value="<%= @current_user.requested_gifts_count %>">
          
      </div>
                      
      <div>
        <label for="bought_gifts_count_box">Bought gifts count</label>
          
        <input id="bought_gifts_count_box" name="query_bought_gifts_count" value="<%= @current_user.bought_gifts_count %>">
          
      </div>
              
      <div>
        <label for="password_box">Password</label>
        <input id="password_box" name="query_password" placeholder="Choose a new password..." type="password">
      </div>
    
      <div>
        <label for="password_confirmation_box">Password Confirmation</label>
        <input id="password_confirmation_box" name="query_password_confirmation" placeholder="Confirm your new password..." type="password">
      </div>

      <button>
        Update account
      </button>
    </form>
  </div>
</div>
