<!DOCTYPE html>
<html>
  <head>
    <title>FinalProject</title>
    <%= csrf_meta_tags %>

    <!-- Expand the number of characters we can use in the document beyond basic ASCII 🎉 -->
    <meta charset="utf-8">

    <!-- Make it responsive to small screens -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>

  </head>

  <body>


<nav>
<ul>
  <li>
  <a href="/categories">Categories</a>
  </li>
  <li>
  <a href="/gifts">Gifts</a>
  </li>
  <li>
  <a href="/shops">Shops</a>
  </li>
  <li>
  <a href="/where_to_buys">Where to Buy</a>
  </li>

  <li>
  <a href="/user_sign_in">Sign In</a>
  </li>

   <li>
  <a href="/edit_user_profile">Edit User</a>
  </li>

  <li>
  <a href="/user_sign_up">Sign Up</a>
  </li>

  <li>
  <a href="/user_sign_out">Sign Out</a>
  </li>
</ul>
</nav>







<p style="color: green"><%= notice %> </p>
<p style="color: red"><%= alert %> </p>


    <%= yield %>
  </body>
</html>
